body{
    padding: 0px;
    margin: 0px;
    font-size: 24px;
}

.project{
    margin-bottom: 140px;
}

.project:first-of-type{
    margin-top: 50px;
}

.project:last-of-type{
    margin-bottom: 50px;
}

.extraInfoDisplay{
    display: inline-block;
}

.datesHome{
    padding: 0px;
    margin: 0px;
    display:inline-flex;
}

ul{
    display:inline-flex;
}

li{
    margin: 5px;
    font-size: 24px;  
}

hr{
    border: none;
    border-radius: 5px;
}